<!DOCTYPE html>
<html lang="en">

<head>
  <title>William Cory</title>
  <meta charset="utf-8" />
  <meta charset="UTF-8">

  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <meta name="author" content="William Cory">
  <meta name="description" content="William explores web development, data science, cryptocurrency, and varius other interests in his blog.">
  <meta name="twitter:description" content="William explores web development, data science, cryptocurrency, and varius other interests in his blog.">
  <meta name="twitter:site" content="@roninjin10">

  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <style>
    html, body {
      height: 100%;
      font-family: Ubuntu;
    }

    .icon {
      font-size: 28px;
    }

    .container-fluid {
      max-width: 1200px

    }
    .navbar {
      border-bottom: 1px solid gray;
      padding-bottom: 0px;
      text-decoration: none;
    }
    .section_header {
      font-weight: 3px;
      padding-left:5px;
    }
    p {
      margin-bottom: 1.5em;
      line-height: 1.5em;
    }
  </style>
</head>


<body class="body">
  <div class="container-fluid" style="min-height:95%; ">

    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mc-auto">
          <li class="nav-item">
            <a class="nav-link" href="/blog">blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">about</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/connect">connect</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto" id="social">
          <li class="nav-item">
            <a href="https://twitter.com/roninjin10" title="Follow me!" class="nav-link icon"><i class="fab fa-twitter icon"></i></a>
          </li>
          <li class="nav-item">
            <a href="https://github.com/roninjin10" title="Code with me!" class="icon nav-link"><i class="fab fa-github icon"></i></a>
          </li>
          <li class="nav-item">
            <a href="https://www.linkedin.com/in/william-cory-bbb375156/" title="Connect with me!" class="nav-link icon"><i class="fab fa-linkedin icon"></i></a>
          </li>
        </ul>
        <!--
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Twittler" aria-label="Search" />
          <button class="btn create-tweet search-button" type="submit">Search</button>
        </form>
        -->
      </div>
    </nav>

    <div class="row">

      <div>

      <div class='container-fluid'>
      <br><br>
         {% block content %}
         {% endblock %}
      </div>
      </div>
    </div>
  </div>
  <footer>
    <nav class="navbar navbar-expand-md navbar-light">
    <div class="container-fluid" style='margin-left:15px'>
      <ul class="navbar-nav mr-auto"><li><a href="#" target="blank" class="nav-item nav-link">Connect</a></li>  <li><a href="#" target="blank" class="nav-item nav-link">GitHub</a></li>  <li><a href="#" target="blank" class="nav-item nav-link">LinkedIn</a></li>  <li><a href="#" target="blank" class="nav-item nav-link">Twitter</a></li></ul>
    </div>
  </nav>
  </footer>


    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>